<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>カテゴリ管理</title>
  <link href="css/commons.css" rel="stylesheet">
</head>
<body>
  <div class="header">
    <h1 class="site_logo"><a href="menu.html">商品管理システム</a></h1>
    <div class="user">
      <p class="user_name">佐藤さん、こんにちは</p>
      <form class="logout_form" action="logout.html" method="get">
        <button class="custom-btn" type="submit">
          <img src="images/ドアアイコン.png">ログアウト</button>
      </form>
    </div>
  </div>

  <hr>

  <table>
    <thead>
      <tr>
        <th><input type="checkbox"></th>
        <th>ID</th>
        <th>カテゴリ名</th>
        <th>編集</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox"></td>
        <td>1</td>
        <td><input type="text" id="category-1" value="筆記具" disabled></td>
        <td><button class="edit-btn" value="1">編集</button></td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td>2</td>
        <td><input type="text" id="category-2" value="紙製品" disabled></td>
        <td><button class="edit-btn" value="2">編集</button></td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td>3</td>
        <td><input type="text" id="category-3" value="事務用品" disabled></td>
        <td><button class="edit-btn" value="3">編集</button></td>
      </tr>
    </tbody>
  </table>

  <div class="btns">
    <input type="button" onclick="openModal()" value="削除" class="basic-btn">
    <input type="button" onclick="location.href='./menu.html'" value="戻る" class="cancel-btn">
  </div>
  <div id="modal">
    <p class="modal-message">削除しますか？</p>
    <div class="btns">
      <button type="button" id="delete-btn" class="basic-btn">削除</button>
      <button type="button" onclick="closeModal()" class="cancel-btn">キャンセル</button>
    </div>
  </div>
  <div id="fadeLayer"></div>
  <script src="./js/commons.js"></script>
  <script>
    'use strict'
    
    document.getElementById('delete-btn').addEventListener('click', () => {
      location.href = './menu.html'
    })

    const btns = document.getElementsByClassName('edit-btn')
    for (const btn of btns) {
      btn.addEventListener('click', e => {
        if(e.target.innerText === '編集') {
          e.target.innerText = '更新'
        } else {
          e.target.innerText = '編集'
        }
        const input = document.getElementById('category-' + e.target.value)
        if (input.disabled) {
          input.disabled = false; // disabled属性を解除
        } else {
          input.disabled = true; // disabled属性を付与
        }
      })
    }

  </script>
  
</body>
</html>