<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link href="css/commons.css" rel="stylesheet">
</head>
<body class="login-body">
  <div class="header">
    <h1 class="site_logo">商品管理システム</h1>
  </div>

  <div class="login-form">
    <img src="./images/logo.png" class="login-logo">
    <p style ="color:red;" class="failed" th:text="${failedToLogin}"></p>

    <form action="index" method="post" th:object="${inputInfo}">
      <fieldset>
        <div class="cp_iptxt">
          <input class="base-input" type="text" name="loginId" placeholder="ID" th:field="*{login_id}">
          <div class="error" th:each="error: ${#fields.errors('login_id')}">[[ ${error} ]]</div>
        </div>

        <div>
          <input class="base-input" type="password" name="pass" placeholder="PASS" th:field="*{password}">
          <div class="error" th:each="error: ${#fields.errors('password')}">[[ ${error} ]]</div>

        </div>
      </fieldset>
      <button id="login-btn" class="custom-btn" type="submit">
          ログイン
      </button>
    </form>
  </div>
  <!-- <script>
    'use strict'
    document.getElementById('login-btn').addEventListener('click', () => {
      location.href = '/index'
    })
  </script> -->
</body>
</html>
