<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
<link rel="icon" href="data:,">
<meta charset="UTF-8">
<title>メニュー</title>
<link href="css/commons.css" rel="stylesheet">
<!-- <link href="../static/css/commons.css" rel="stylesheet"> -->
<!-- <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
</head>
<body>
  <div id="app">
    <div class="header">
      <h1 class="site_logo"><a href="menu.html">商品管理システム</a></h1>
      <div class="user">
        <p class="user_name">[[ ${session.user.name} ]]さん、こんにちは</p>
        <form class="logout_form" action="/logout" method="get">
          <button class="custom-btn" type="submit">
            <img src="images/ドアアイコン.png">ログアウト</button>
        </form>
      </div>
    </div>

    <hr>

    <div class="btn-area">
      <div class="btn"><a class="basic-btn regist" href="/insert">新規登録</a></div>
      <div class="btn"><a class="basic-btn regist" href="category.html">カテゴリ管理</a></div>
    </div>
    <p  class="failed" th:text="${successToDelete}"></p>
    <!-- <form method="get" action="#" class="search-form"> -->
    <form method="get" action="#" class="search-form">
      <div class="order">
        <select name="order" class="base-text">
          <option>並び替え</option>
          <option>商品ID：昇順</option>
          <option>商品ID：降順</option>
          <option>カテゴリ：昇順</option>
          <option>カテゴリ：降順</option>
          <option>単価：安い順</option>
          <option>単価：高い順</option>
        </select>
      </div>
      <div class="search-container">
        <input type="text" name="keyword" v-model="searchInput" size="25" placeholder="キーワード検索">
        <input type="button" @click="findByProductName" value="&#xf002">
      </div>
    </form>

    <table>
        <div class="caption"><p>検索結果：10件</p></div>
        
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>単価</th>
          <th>カテゴリ</th>
          <th>詳細</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for ="product in products">
          <td>{{product.product_id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.category_name}}</td>
          <td><a class="detail_btn" v-bind:href="'/product/'+ product.product_id">詳細</a></td>
        </tr>

      </tbody>
    </table>
  </div>
  <footer></footer>


  
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>

<script>
  
  const { createApp } = Vue

  createApp({
    data(){
      return{
        products :[],
        searchInput:''
      }


    },

    methods:{
      
      getProducts(){
        axios.get('/products')
        .then(res =>{
          this.products =res.data;
          console.log(this.products);
        });
      },

      findByProductName(){
        axios.get(`products/${this.searchInput}`)
        .then(res =>{
          this.products =res.data;
          console.log(this.products);
        });
      },


      
    },

    created:function(){
      console.log("created")
      this.getProducts();
    }

  }).mount('#app')

</script>

</body>
</html>
