<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>更新</title>
<link href="/css/commons.css" rel="stylesheet">
</head>
<body>
  <div class="header">
    <h1 class="site_logo"><a href="menu.html">商品管理システム</a></h1>
    <div class="user">
      <p class="user_name">[[ ${session.user.name} ]]さん、こんにちは</p>
      <form class="logout_form" action="/logout" method="get">
        <button class="custom-btn" type="submit">
          <img src="images/ドアアイコン.png">ログアウト</button>
      </form>
    </div>
  </div>

  <hr>

  <div class="insert">
    <div class="form-body">
      <p class="error">エラーメッセージ</p>

      <form th:action="@{'/update/'+ ${product.id}}" method="post" th:object ="${updateInfo}">
        <fieldset class="label-130">
          <div>
            <label>商品ID</label>
            <input type="text" name="productId" th:field ="*{product_id}" class="base-text">
            <span class="error" th:each="error: ${#fields.errors('product_id')}">[[ ${error} ]]</span>
          </div>
          <div>
            <label>商品名</label>
            <input type="text" name="name" th:field ="*{name}" class="base-text">
            <span class="error" th:each="error: ${#fields.errors('name')}">[[ ${error} ]]</span>

          </div>
          <div>
            <label>単価</label>
            <input type="text" name="price" th:field ="*{price}" class="base-text">
            <span class="error" th:each="error: ${#fields.errors('price')}">[[ ${error} ]]</span>

          </div>
          <div>
            <label>カテゴリ</label>
            <!-- <label class="required">カテゴリ</label> -->
            <select name="selectCategory">
              <option th:each="category : ${categoryList}"
                      th:value="${category.id}"
                      th:text="${category.name}"
                      th:selected="${category.id == selectedValue}">
              </option>
            </select>

          </div>
          <div>
            <label>商品説明</label>
            <textarea name="description" th:field="*{description}" class="base-text">

            </textarea>
          </div>
          <div>
            <label>画像</label>
            <input type="file" name="file">
            <span class="error">エラーメッセージ</span>
          </div>
        </fieldset>
          <div class="btns">
            <button type="submit" class="basic-btn">更新</button>
            <!-- <a th:action="@{'/update/'+${product.id}}" method="POST" id="update-btn" value="編集" class="basic-btn">更新</a> -->

            <input type="button" onclick="location.href='/menu'" value="メニューに戻る" class="cancel-btn">
          </div>
          <div id="modal">
            <p class="modal-message">更新しますか？</p>
            <div class="btns">
              <!-- <a th:action="@{'/update/'+${product.id}}" method="POST" id="update-btn" value="編集" class="basic-btn">更新</a> -->
              <button type="submit" id="update-btn" class="basic-btn">更新</button>
              <button type="button" onclick="closeModal()" class="cancel-btn">キャンセル</button>
            </div>
          </div>
      </form>
    </div>
  </div>
  <div id="fadeLayer"></div>
  <script src="./js/commons.js"></script>
  <!-- <script>
    'use strict'
    document.getElementById('update-btn').addEventListener('click', () => {
      location.href = './menu.html'
    })
  </script> -->
</body>
</html>